/* for milligram */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic');

/* base */
:root {
}

html body {
  --width: 1280px;
}

/**/
/*File Editor*/
/**/
.editor-preview-container {
	position: relative;
}

.editor-preview-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**/
/*File Dropzone*/
/**/
.dropzone-file-input {
  color: transparent !important;
  cursor: pointer;
}

/**/
/*File List*/
/**/
.file-list {
  &:not(:has(">*")) {
    display: "none";
  }
}

.file-list__item {
  white-space: nowrap;
}

.file-list__filename {
  border: none;
  background: none;
  font-weight: bold;
  font-size: 0.9rem;
  white-space: normal;
  pointer-events: all;
  color: inherit;

  &:hover,
  &:focus,
  &.file-list__filename--selected {
    transform: translateX(1rem);
    color: var(--cemph);
  }
}









